.movies {
    margin: 74px 0;
    padding: 0 10px;
    align-self: start;
}

@media screen and (min-width: 768px) {
    .movies {
        padding: 0 30px;
    }
}

@media screen and (min-width: 1280px) {
    .movies {
        padding: 0 70px;
    }
}