.form__container {
    display: grid;
    width: 100%;
    padding: 56px 30px 30px;
    height: 100%;
    box-sizing: border-box;
}

.form-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 50px 0 80px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.form {
    margin: 18px 0 18px;
    display: grid;
    grid-template-rows: max-content max-content auto;
    flex-direction: column;
    max-width: 396px;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.form__inputs-register {
    display: flex;
    /* position: relative; */
    flex-direction: column;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px #E8E8E8;
    padding: 0;
    width: 100%;
    height: 100%;
    color: black;
    margin: 0;
}

.form__label {
    position: relative;
    display: grid;
    grid-template-rows: max-content max-content;
    /* flex-direction: column; */
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    text-align: left;
    height: 48px;
}

.form__label_profile {
    display: flex;
    width: 100%;
    height: 50px;
}


.form__label_title {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    margin: 13px 0 0;
    /* padding-bottom: 5px; */
}

.form__label_title_profile {
    justify-self: start;
    grid-row: 1/3;
    grid-column: 1;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: black;
}

.form__label:nth-child(1) {
    padding-top: 0;
}

.form__inputs-item {
    height: 32px;
    align-self: end;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #E8E8E8;
    margin: 0 0 10px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    /* line-height: 17px; */
}

.form__inputs-item_profile {
    
    text-align: right;
    width: 100%;
    max-width: 411px;
    height: 45px;
    /* grid-row: 1/3; */
}

.form__inputs-item_profile_last {
    padding: 0;
    border: none;
    height: 38px;
}

/* Стилизуем плейсхолдеры */
.form__inputs-item_profile::-webkit-input-placeholder {
    /* margin-top: -10px; */
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
}

.form__inputs-item_profile::-moz-placeholder {
    color: #A0A0A0;
}

.form__inputs-item_profile::-ms-input-placeholder {
    color: #A0A0A0;
}

.form__inputs-item:focus {
    /* border-bottom: 1px solid #2BE080; */
    outline: 1px solid #2BE080;
    /* outline: none; */
    font-weight: 500;
}

.form__inputs-item_profile:focus {
        /* border-bottom: 1px solid #2BE080; */
    outline: 1px solid #2BE080;
    /* outline: none; */
    font-weight: 500;
}

.form__inputs-item:active {
    border-bottom: 1px solid #2BE080;
}

.form__inputs-item:invalid {
    color: #EE3465;
    border-bottom: 1px solid #E8E8E8;
}

.form__bottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* align-items: end; */
    padding: 134px 0 0;
}

.form__inputs-error {
    display: inline;
    position: absolute;
    top: calc(100% - 23px);
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.form__inputs-error_profile {
    top: 40px;
    justify-self: end;
    text-align: right;
    z-index: 1;
}

.button__sumbit {
    background: #2BE080;
    border: none;
    height: 45px;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: white;
    padding: 0;
}

.button__sumbit_disable {
    background: #F8F8F8;
    color: #C2C2C2;
}

.form__bottom-signin {
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

.form__bottom-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
    margin: 0;
}

.form__bottom-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2BE080;
    padding-left: 7px;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .form__container {
        justify-self: center;
        align-self: center;
        padding: 0;
    }

    .form {
        align-content: center;
        width: 396px;
    }

    .form-top {
        align-items: flex-start;
    }

    .form__title {
        text-align: left;
        padding: 40px 0;
    }

    .form__bottom-text {
        font-size: 14px;
        line-height: 17px;
    }

    .form__bottom-link {
        font-size: 14px;
        line-height: 17px;
    }

    .button__sumbit {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
}