.form__container {
    display: flex;
    justify-self: center;

    flex-direction: column;
    height: 100vh;
    max-width: 396px;
    padding: 56px 30px 30px;
}

.form__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 50px 0 80px;
    margin: 0;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: stretch;
    max-width: 396px;
    width: 100%;
}

.form__inputs-register {
    display: flex;
    flex-direction: column;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px #E8E8E8;
    padding: 0;
    width: 100%;
    color: black;
    box-sizing: border-box;
    margin: 0;
}

.form__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    padding: 24px 0 5px;
    text-align: left;
}

.form__label:nth-child(1) {
    padding-top: 0;
}

.form__inputs-item {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #E8E8E8;
    padding: 0 0 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.form__inputs-item:focus {
    border-bottom: 1px solid #2BE080;
    outline: none;
}

.form__inputs-item:invalid {
    color: #EE3465;
    border-bottom: 1px solid #E8E8E8;
}

.form__bottom {
    align-items: center;
    padding: 157px 0 0;
}

.form__inputs-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    padding-top: 6px;
}

.button__sumbit {
    background: #2BE080;
    border: none;
    height: 45px;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: white;
}

.form__bottom-signin {
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

.form__bottom-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
    margin: 0;
}

.form__bottom-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2BE080;
    padding-left: 7px;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .form__container {
        /* display: grid; */
        justify-self: center;
    }

    .form {
        width: 396px;
    }
}