.search-container {
    padding: 70px 14px 63px;
    display: grid;
    gap: 30px;
    flex-direction: column;
    align-self: start;
}

.search-container__line {
    width: 100%;
    height: 1px;
    padding: 0 ;
    background: #E8E8E8;
}

.search-form {
    display: grid;

    justify-items: end;
    align-items: center;
}

.search-form__input {
    width: 100%;
    padding: 0;
    opacity: 0.2;
    border: 1.5px solid #AAAAAA;
    border-radius: 8px;
    height: 56px;
    grid-column: 1/3;
    grid-row: 1;
}

.search-form__button {
    grid-column: 1/3;
    grid-row: 1;
    height: 44px;
    border: none;
    border-radius: 5px;
    margin-right: 6px;
    background: #2BE080;
    color: white;
    padding: 0 10px;
}

.search-form__input {
    padding-left: 12px;
    box-sizing: border-box;
    /* width: 100%; */
}

@media screen and (min-width: 768px) {
    .search-container {
        padding: 70px 30px 21px;
    }

    .search-container__line {
        margin-top: -30px;
    }
}