.header {
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 74px;
    align-items: center;
    padding: 18px 14px;
    box-sizing: border-box;
    background-color: white;
    z-index: 1;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__links {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    width: 100%;
}

.header__links-movies {
    justify-self: center;
}

.header__link {
    text-decoration: none;
    align-self: center;
    color: black;
    padding: 0px 8px;
}

.header__link_active {
    font-weight: 400;
}

.header__link-item {
    display: flex;
    list-style: none;
    color: black;
    min-height: 26px;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
}

.header__menu-icon {
    grid-column-start: 3;
    justify-self: end;
}

.header__link-item_login {
    margin-left: 14px;
    padding: 0 12px;
    text-align: center;
    background: rgba(43, 224, 128, 1);
    border-radius: 3px;
}

.profile-button {
    height: 32px;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    width: max-content;
    justify-self: center;
}

.profile-button-wraper {
    display: none;
    justify-self: end;
}

.profile-button-wraper-burger {
    justify-self: center;
}

.burger-menu-section {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    background: rgba(0, 0, 0, 0.3);
}

.burger-menu {
    z-index: 12;
    position: absolute;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: max-content 1fr auto;
    height: 100%;
    /* width: 100%; */
    top: 0;
    right: 0;
    padding-bottom: 46px;
    background: white;
    width: 320px;
}

.burger-menu__button-close {
    background-image: url(../../images/button-close.svg);
    margin: 20px 20px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    border: none;
    background-color: transparent;
    background-size: cover;
    justify-self: end;
}

.burger-menu__container {
    display: flex;
    justify-content: center;
    padding-top: 106px;
}

.burger-menu__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    list-style-type: none;
}

.burger-menu__list-item {
    padding-top: 15px;
    display: flex;
    height: 29px;
}

.burger-menu__link {
    display: inline;
    text-decoration: none;
    color: black;
}

.burger-menu__link-active {
    border-bottom: 2px solid black;
}

@media screen and (min-width: 320px) {
    .header__links-movies {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 18px 30px;
    }

    .header__links {
        font-size: 12px;
        line-height: 16px;
    }

    .header__link-item {
        font-size: 12px;
        min-height: 32px;
    }

    .burger-menu {
        width: 520px;
        padding-bottom: 90px;
    }

    .header__link-item_login {
        margin-left: 30px;
        padding: 0 20px;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        padding: 18px 70px;

        grid-template-columns: 1fr 1fr 1fr;
    }

    .header__links-movies {
        display: flex;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
    }

    .header__links {
        grid-column: 3;
        justify-self: end;
    }

    .header__link-item_login {
        margin-left: 50px;
    }

    .profile-button-wraper {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}