.about-project {
    padding: 70px 18px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.two-columns {
    display: flex;
    gap: 56px;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.two-columns__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    margin: 0;
    padding-bottom: 16px;
}

.about-project__progress {
    display: grid;
    width: 100%;
    grid-template-columns: 100px auto;
    grid-template-rows: 35px 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.about-project__progress-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-project__progress-item:nth-child(1) {
    background-color: #2BE080;
    color: black;
}

.about-project__progress-item:nth-child(2) {
    background-color: #F2F2F2;
    color: black;
}

.about-project__progress-item:nth-child(3) {
    color: #A0A0A0;
}

.about-project__progress-item:nth-child(4) {
    color: #A0A0A0;
}

@media screen and (min-width: 768px) {
    .about-project {
        gap: 70px;
        padding: 70px 50px 90px;
    }

    .about-project__progress {
        grid-template-columns: 140px auto;
    }

    .two-columns {
        flex-direction: row;
        gap: 40px;
    }

    .two-columns__title {
        padding-bottom: 26px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.04em;
    }
}